
/****** Object:  Table [dbo].[Aptos]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aptos](
	[IdApto] [int] IDENTITY(1,1) NOT NULL,
	[NombreApto] [nvarchar](50) NOT NULL,
	[IdTorre] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK_Aptos] PRIMARY KEY CLUSTERED 
(
	[IdApto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsistenciaEventos]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaEventos](
	[IdAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEvento] [int] NOT NULL,
	[Confirmado] [bit] NOT NULL,
	[FechaConfirmacion] [datetime] NOT NULL,
 CONSTRAINT [PK__Asistenc__3956DEE66A77A52B] PRIMARY KEY CLUSTERED 
(
	[IdAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avisos]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avisos](
	[IdAviso] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK__Avisos__5CBDD9A72D8B8CD6] PRIMARY KEY CLUSTERED 
(
	[IdAviso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaEvento] [date] NOT NULL,
	[HoraInicio] [time](4) NOT NULL,
	[HoraFin] [time](4) NOT NULL,
	[Lugar] [nvarchar](150) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK__Eventos__034EFC04FD308A3B] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[IdMensaje] [int] IDENTITY(1,1) NOT NULL,
	[IdEmisor] [int] NOT NULL,
	[IdReceptor] [int] NOT NULL,
	[Asunto] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[ArchivoAdjunto] [nvarchar](max) NULL,
	[MensajePadreId] [int] NULL,
	[Leido] [bit] NOT NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[IdMensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propietarios]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propietarios](
	[IdPropietario] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoDocumento] [int] NOT NULL,
	[NumeroDocumento] [nvarchar](11) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](10) NULL,
	[Celular] [nvarchar](10) NULL,
	[IdApto] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK_Propietarios] PRIMARY KEY CLUSTERED 
(
	[IdPropietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Zona] [nvarchar](100) NOT NULL,
	[FechaReserva] [date] NOT NULL,
	[HoraInicio] [time](4) NOT NULL,
	[HoraFin] [time](4) NOT NULL,
	[NumInvitados] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK__Reservas__0E49C69D53F925B3] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionRol] [nvarchar](100) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK__Roles__2A49584C0892D186] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDocumento]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumento](
	[IdTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoDocumento] [nvarchar](50) NOT NULL,
	[Abreviatura] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_TiposDocumento] PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torres]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torres](
	[IdTorre] [int] IDENTITY(1,1) NOT NULL,
	[NombreTorre] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
 CONSTRAINT [PK_Torres] PRIMARY KEY CLUSTERED 
(
	[IdTorre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/06/2025 08:30:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](10) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Contrasena] [nvarchar](50) NOT NULL,
	[HashKey] [binary](32) NOT NULL,
	[HashIV] [binary](16) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [datetime] NULL,
 CONSTRAINT [PK__Usuarios__5B65BF97FE372567] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aptos] ON 

INSERT [dbo].[Aptos] ([IdApto], [NombreApto], [IdTorre], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, N'Apto 101', 1, CAST(N'2025-06-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Aptos] OFF
GO
SET IDENTITY_INSERT [dbo].[AsistenciaEventos] ON 

INSERT [dbo].[AsistenciaEventos] ([IdAsistencia], [IdUsuario], [IdEvento], [Confirmado], [FechaConfirmacion]) VALUES (1, 1, 1, 1, CAST(N'2025-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AsistenciaEventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Avisos] ON 

INSERT [dbo].[Avisos] ([IdAviso], [Titulo], [Descripcion], [Estado], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, N'Corte de luz', N'Habrá corte eléctrico este domingo', 1, CAST(N'2025-06-20T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Avisos] ([IdAviso], [Titulo], [Descripcion], [Estado], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (2, N'Mantenimiento', N'Se realizará mantenimiento en la piscina', 1, CAST(N'2025-06-20T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Avisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([IdEvento], [Titulo], [Descripcion], [FechaEvento], [HoraInicio], [HoraFin], [Lugar], [Estado], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, N'Reunión Anual', N'Reunión de copropietarios', CAST(N'2025-06-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Salon Comunal', 1, CAST(N'2025-06-20T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Mensajes] ON 

INSERT [dbo].[Mensajes] ([IdMensaje], [IdEmisor], [IdReceptor], [Asunto], [Descripcion], [FechaEnvio], [ArchivoAdjunto], [MensajePadreId], [Leido]) VALUES (4, 1, 2, N'RE: Prueba', N'Prueba', CAST(N'2025-06-20T21:41:30.840' AS DateTime), NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Mensajes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([IdReserva], [IdUsuario], [Zona], [FechaReserva], [HoraInicio], [HoraFin], [NumInvitados], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, 1, N'Salón Social', CAST(N'2025-06-02' AS Date), CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), 10, CAST(N'2025-06-20T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [DescripcionRol], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, N'Administrador', CAST(N'2025-06-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Roles] ([IdRol], [DescripcionRol], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (2, N'Residente', CAST(N'2025-06-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDocumento] ON 

INSERT [dbo].[TiposDocumento] ([IdTipoDocumento], [NombreTipoDocumento], [Abreviatura]) VALUES (1, N'Cedula de Ciudadania', N'CC')
INSERT [dbo].[TiposDocumento] ([IdTipoDocumento], [NombreTipoDocumento], [Abreviatura]) VALUES (2, N'Pasaporte', N'PP')
INSERT [dbo].[TiposDocumento] ([IdTipoDocumento], [NombreTipoDocumento], [Abreviatura]) VALUES (3, N'Permiso Por Proteccion Temporal', N'PPT')
SET IDENTITY_INSERT [dbo].[TiposDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[Torres] ON 

INSERT [dbo].[Torres] ([IdTorre], [NombreTorre], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, N'Torre 1', CAST(N'2025-06-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Torres] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombres], [Apellidos], [Correo], [Telefono], [IdRol], [Contrasena], [HashKey], [HashIV], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (1, N'Admin', N'General', N'admin@danchi.com', N'6011234567', 1, N'bMI46iLMqXkvz9PwYra98g==', 0x262F9D87B481765A8E2FF36691CE5BD5ABBAD33D18B22473D8936B40BDF8CDD6, 0xEA39385868CD14E261A80D98A930DDDB, CAST(N'2025-06-10T20:17:02.000' AS DateTime), 1, CAST(N'2025-06-20T10:52:06.540' AS DateTime), NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombres], [Apellidos], [Correo], [Telefono], [IdRol], [Contrasena], [HashKey], [HashIV], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion]) VALUES (2, N'Andres', N'Chavez', N'achavez@danchi.com', N'6011234567', 2, N'y5kh5g6pPvtpCeYI8CFgXQ==', 0x9BB1C864AE3C5407B05AD56E544129A51DB82FB8AE00231DB67789789F477ADF, 0xCF617CC0CD4741130B469A142691F7F9, CAST(N'2025-06-20T21:35:37.583' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A19C12B0198]    Script Date: 21/06/2025 08:30:14 p.m. ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__60695A19C12B0198] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsistenciaEventos] ADD  CONSTRAINT [DF__Asistenci__Confi__46E78A0C]  DEFAULT ((0)) FOR [Confirmado]
GO
ALTER TABLE [dbo].[AsistenciaEventos] ADD  CONSTRAINT [DF__Asistenci__Fecha__47DBAE45]  DEFAULT (NULL) FOR [FechaConfirmacion]
GO
ALTER TABLE [dbo].[Avisos] ADD  CONSTRAINT [DF__Avisos__Estado__3F466844]  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Eventos] ADD  CONSTRAINT [DF__Eventos__Estado__4222D4EF]  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__FechaR__3B75D760]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Aptos]  WITH CHECK ADD  CONSTRAINT [FK_Aptos_Torres] FOREIGN KEY([IdTorre])
REFERENCES [dbo].[Torres] ([IdTorre])
GO
ALTER TABLE [dbo].[Aptos] CHECK CONSTRAINT [FK_Aptos_Torres]
GO
ALTER TABLE [dbo].[AsistenciaEventos]  WITH CHECK ADD  CONSTRAINT [FK__Asistenci__IdEve__45F365D3] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[Eventos] ([IdEvento])
GO
ALTER TABLE [dbo].[AsistenciaEventos] CHECK CONSTRAINT [FK__Asistenci__IdEve__45F365D3]
GO
ALTER TABLE [dbo].[AsistenciaEventos]  WITH CHECK ADD  CONSTRAINT [FK__Asistenci__IdUsu__44FF419A] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[AsistenciaEventos] CHECK CONSTRAINT [FK__Asistenci__IdUsu__44FF419A]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Emisor] FOREIGN KEY([IdEmisor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Emisor]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Receptor] FOREIGN KEY([IdReceptor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Receptor]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Respuesta] FOREIGN KEY([MensajePadreId])
REFERENCES [dbo].[Mensajes] ([IdMensaje])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Respuesta]
GO
ALTER TABLE [dbo].[Propietarios]  WITH CHECK ADD  CONSTRAINT [FK_Propietarios_Aptos] FOREIGN KEY([IdApto])
REFERENCES [dbo].[Aptos] ([IdApto])
GO
ALTER TABLE [dbo].[Propietarios] CHECK CONSTRAINT [FK_Propietarios_Aptos]
GO
ALTER TABLE [dbo].[Propietarios]  WITH CHECK ADD  CONSTRAINT [FK_Propietarios_TiposDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TiposDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[Propietarios] CHECK CONSTRAINT [FK_Propietarios_TiposDocumento]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK__Reservas__IdUsua__4AB81AF0] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK__Reservas__IdUsua__4AB81AF0]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__IdRol__3A81B327] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__IdRol__3A81B327]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Usuarios1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Usuarios1]
GO
USE [master]
GO
